* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

/* header */

.banner {
height: 100px;
}

#logo{
    height: 90px;
    vertical-align: middle;
    padding: 10px 0px 0px 30px;
}

h1{
    font-weight: 800;
    display: inline-block;
    color: rgb(3,23,50);
}
#name_tobo{
    font-size: 50px;
    line-height: 100%;
    vertical-align: middle;
}

/* main */

#task {
    height: 1000px;
    width: 1200px;
    background-color: rgb(255, 254, 254);
    margin: auto;
    
}

.container{
    background-color: rgb(240, 239, 239);
    padding: 50px;
}

.add_button {
    font-size: 14px;
    font-weight: 0;
    display: inline-block;
    border-radius: 5px;
    padding: 5px
}

.button_blue {
    color: white;
    background-color: rgb(46, 172, 221);
    
}

.button_white {
    color: gray;
    background-color:white;
}

.stiker {
    color: white;
    font-size: 12px;
    display: inline-block;
    border-radius: 15px;
    padding: 1px 15px;
    margin: 7px;
}

.stiker_blue {
    background-color: rgb(46, 172, 221);
}

.stiker_white {
    color:gray;
    background-color:white;
}

.stiker_purple {
background-color: blueviolet;
}

.stiker_teal{
    background-color: rgb(64, 146, 115);
}

.stiker_orange{
    background-color: darkorange;
}

.stiker_pink{
    background-color: rgb(253, 146, 164);
}

.stiker_green{
    background-color: rgb(120, 160, 40);
}
.button {
    padding: 15px 5px 15px 70px;
}

.compiti{
    padding: 30px 5px 10px 70px;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.spunta_ok {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px;
}

.spunta_no {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px;
}